@media screen and (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .todo {
    &__card {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: none;
  }
  .todo {
    &__list {
      gap: 15px;
    }
  }
}
@media screen and (max-width: 530px) {
  .container {
    max-width: none;
  }
  .todo {
    &__list {
      gap: 15px;
    }
    &__panel {
      order: 2;
      justify-content: space-between;
      width: 100%;
      button {
        margin: 0;
        font-size: 12px;
      }
    }
    &__header {
      flex-direction: column;
      gap: 8px;
    }
    &__search {
      order: 1;
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}
